:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--white-background);
    color: var(--text);
}
.link {text-decoration: none;}
.list {list-style: none;}
/*======================COMPONENTS=====================*/
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--dark);
}
/*========================HEADER=======================*/
.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.header-logotype-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}
.contacts {font-style: normal;}
.contacts-information {
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
}
.contacts-information:hover,
.contacts-information:focus {
    color: var(--pressed-state);
}
/*========================HERO=========================*/
.hero {background-color: var(--dark);}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/*=====================ADVANTAGES======================*/
.advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.advantages-item-description {line-height: 1.5;}
/*=======================ABOUT=========================*/

/*=======================TEAM==========================*/
.team {background-color: var(--light);}
.team-menu-item {background-color: var(--white-background);}
.team-menu-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
}
.team-menu-description {
    line-height: 1.5;
    text-align: center;
    color: var(--text);
}
/*=====================PORTFOLIO=======================*/
.projects-menu-btn {
    font-family: 'Roboto', sans-serif;
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
}
.projects-menu-btn:hover,
.projects-menu-btn:focus {
    background: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-background);
}
.projects-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.projects-list-description {
    line-height: 1.5;
    color: var(--text);;
}
/*======================FOOTER=========================*/
.footer {background-color: var(--dark);}
.footer-logotype-color {color: var(--light)}
.footer-copy {
    line-height: 1.5;
    color: var(--light);}